<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>qlearning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3CA5CB21D0EB41200A752D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CA5CCB1D0EB41300A752D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CA5CD61D0EB41300A752D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
